/* =========================================================================
 * Typography - Font Face
 * ==========================================================================*/
/* ==========================================================================
 * Global Styling Changes
 * ==========================================================================*/
/* line 33, ../sass/global.style.scss */
body {
  font-family: QuicksandBookRegular, Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: white;
  min-width: 300px;
  min-height: 300px;
  background: #94cdcb;
}

/* line 41, ../sass/global.style.scss */
body.front {
  background: #94cdcb;
}

/* line 45, ../sass/global.style.scss */
h1 {
  font-size: 2em;
}

/* line 48, ../sass/global.style.scss */
h2 {
  font-size: 1.5em;
}

/* line 51, ../sass/global.style.scss */
h3 {
  font-size: 1.2em;
  font-weight: bold;
}

/* line 56, ../sass/global.style.scss */
h4 {
  font-size: 1em;
  font-weight: bold;
}

/* line 61, ../sass/global.style.scss */
b {
  font-weight: bold;
}

/* line 64, ../sass/global.style.scss */
p {
  line-height: 1.5em;
  font-size: 1em;
  margin-bottom: 2em;
}

/* line 69, ../sass/global.style.scss */
a {
  color: #1B9EE0;
  text-decoration: none;
}

/* line 75, ../sass/global.style.scss */
a:hover, a:focus, a:active {
  color: #4AC1FD;
}

/* line 79, ../sass/global.style.scss */
a:visited {
  color: #5496B8;
}

/* ==========================================================================
 * Addtional Global Styling
 * ==========================================================================*/
/* line 88, ../sass/global.style.scss */
.clear {
  clear: both;
}

/* line 92, ../sass/global.style.scss */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 101, ../sass/global.style.scss */
.clearfix {
  display: inline-block;
}

/* line 106, ../sass/global.style.scss */
* html .clearfix {
  height: 1%;
}

/* line 111, ../sass/global.style.scss */
.noBorderL {
  border-left: none;
}

/* line 114, ../sass/global.style.scss */
.noBorderR {
  border-left: none;
}

/* ==========================================================================
 * General Layout Specific Styling
 * ==========================================================================*/
/* ==========================================================================
 * Menu -Styling - default
 * ==========================================================================*/
/* line 127, ../sass/global.style.scss */
.main-menu-wrapper {
  background: white;
  z-index: 3;
  min-width: 4em;
  min-height: 4em;
  -webkit-transition: height 0.7s, width 0.7s;
  -moz-transition: height 0.7s, width 0.7s;
  -o-transition: height 0.7s, width 0.7s;
  transition: height 0.7s, width 0.7s;
}
/* line 133, ../sass/global.style.scss */
.main-menu-wrapper .logo {
  float: left;
}
/* line 135, ../sass/global.style.scss */
.main-menu-wrapper .logo a {
  width: 100%;
  height: 100%;
  display: inline-block;
  color: white;
  background: #997e7e;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
}
/* line 142, ../sass/global.style.scss */
.main-menu-wrapper .logo a:hover, .main-menu-wrapper .logo a:focus {
  background: #645656;
}
/* line 146, ../sass/global.style.scss */
.main-menu-wrapper .logo h1 {
  text-align: center;
  -webkit-transition: font-size 0.7s;
  -moz-transition: font-size 0.7s;
  -o-transition: font-size 0.7s;
  transition: font-size 0.7s;
}
/* line 151, ../sass/global.style.scss */
.main-menu-wrapper .main-menu {
  height: 102%;
  width: 100%;
}
/* line 154, ../sass/global.style.scss */
.main-menu-wrapper .main-menu .nav ul {
  height: 100%;
  width: 100%;
  display: block;
  clear: both;
}

/* ==========================================================================
 * Menu -Styling - Menu Buttons
 * ==========================================================================*/
/* line 167, ../sass/global.style.scss */
.main-menu-wrapper .main-menu .nav ul {
  /* Active main-menu list styling */
}
/* line 168, ../sass/global.style.scss */
.main-menu-wrapper .main-menu .nav ul li {
  position: relative;
}
/* line 171, ../sass/global.style.scss */
.main-menu-wrapper .main-menu .nav ul li p {
  color: grey;
  position: absolute;
  background: transparent;
  height: 20px;
  -webkit-transition: top 1s, color 0.5s, background 0.5s;
  -webkit-transition-delay: 0s, 0s, 0.2s;
  -moz-transition: top 1s, color 0.5s, background 0.5s 0.2s;
  -o-transition: top 1s, color 0.5s, background 0.5s 0.2s;
  transition: top 1s, color 0.5s, background 0.5s 0.2s;
}
/* line 180, ../sass/global.style.scss */
.main-menu-wrapper .main-menu .nav ul li .button-outer {
  display: table;
  clear: both;
  position: relative;
}
/* line 185, ../sass/global.style.scss */
.main-menu-wrapper .main-menu .nav ul li .button-inner {
  background: #00cccc;
  margin: 0 7px;
  border: 3px solid grey;
  position: absolute;
  z-index: 10;
  height: 35px;
  width: 35px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: height 0.6s, width 0.6s, left 0.6s, top 0.6s;
  -moz-transition: height 0.6s, width 0.6s, left 0.6s, top 0.6s;
  -o-transition: height 0.6s, width 0.6s, left 0.6s, top 0.6s;
  transition: height 0.6s, width 0.6s, left 0.6s, top 0.6s;
}
/* line 201, ../sass/global.style.scss */
.main-menu-wrapper .main-menu .nav ul li.active .button-inner {
  height: 45px;
  width: 45px;
  left: 0px;
  top: 2px;
}

/* line 211, ../sass/global.style.scss */
.social {
  position: absolute;
  bottom: 0;
  z-index: 1;
}
/* line 216, ../sass/global.style.scss */
.social li {
  margin-left: 20px;
  float: right;
  font-family: "SSSocial";
  font-weight: bold;
  font-size: 400%;
  position: relative;
}
/* line 223, ../sass/global.style.scss */
.social li a {
  color: white;
  opacity: 0.7;
  border-radius: 50%;
  z-index: 5;
  -webkit-transition: color 0.4s ease-out, opacity 0.6s;
  -moz-transition: color 0.4s ease-out, opacity 0.6s;
  -o-transition: color 0.4s ease-out, opacity 0.6s;
  transition: color 0.4s ease-out, opacity 0.6s;
}
/* line 228, ../sass/global.style.scss */
.social li a span {
  position: absolute;
  top: -11.9%;
  left: 1.3%;
  z-index: -1;
  width: 99%;
  height: 99%;
  background: white;
  opacity: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
/* line 242, ../sass/global.style.scss */
.social li a:hover, .social li a:focus {
  opacity: 1;
}
/* line 244, ../sass/global.style.scss */
.social li a:hover span, .social li a:focus span {
  opacity: 1;
}
/* line 248, ../sass/global.style.scss */
.social li a:hover.facebook, .social li a:focus.facebook {
  color: #3B5998;
}
/* line 250, ../sass/global.style.scss */
.social li a:hover.twitter, .social li a:focus.twitter {
  color: #2daae1;
}
/* line 252, ../sass/global.style.scss */
.social li a:hover.linkedin, .social li a:focus.linkedin {
  color: #0370a9;
}
/* line 254, ../sass/global.style.scss */
.social li a:hover.googleplus, .social li a:focus.googleplus {
  color: #CC0000;
}

/* ==================================================================================
 *      Global Styling of main content
 * ==================================================================================*/
/* line 264, ../sass/global.style.scss */
.main-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  overflow: hidden;
}
/* line 270, ../sass/global.style.scss */
.main-wrapper .main {
  max-width: 1100px;
  /* ==================================================================================
   *      Default Pages styling
   * ==================================================================================*/
}
/* line 276, ../sass/global.style.scss */
.main-wrapper .main .page-title-wrapper {
  margin: 4em auto 0 auto;
  width: 95%;
  position: relative;
  text-align: center;
  /* ==================================================================================
   *      Front Page styling
   * ==================================================================================*/
}
/* line 281, ../sass/global.style.scss */
.main-wrapper .main .page-title-wrapper a {
  display: inline-block;
}
/* line 284, ../sass/global.style.scss */
.main-wrapper .main .page-title-wrapper .page-title {
  background: #997e7e;
  position: relative;
  border: white 0.1em solid;
  z-index: 2;
  margin-bottom: .5em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.2s, background 1s;
  -moz-transition: all 0.2s, background 1s;
  -o-transition: all 0.2s, background 1s;
  transition: all 0.2s, background 1s;
}
/* line 292, ../sass/global.style.scss */
.main-wrapper .main .page-title-wrapper .page-title h1 {
  font-size: 1em;
  float: left;
  font-family: WindsongRegular;
  text-shadow: 2px -1px rgba(50, 50, 50, 0.6);
}
/* line 297, ../sass/global.style.scss */
.main-wrapper .main .page-title-wrapper .page-title h1:first-letter {
  font-size: 1.2em;
}
/* line 300, ../sass/global.style.scss */
.main-wrapper .main .page-title-wrapper .page-title h1 span {
  display: block;
  margin: 0;
  color: white;
}
/* line 307, ../sass/global.style.scss */
.main-wrapper .main .page-title-wrapper .page-title::after {
  content: '';
  -webkit-box-shadow: inset -2px 2px 5px black;
  -moz-box-shadow: inset -2px 2px 5px black;
  box-shadow: inset -2px 2px 5px black;
}
/* line 311, ../sass/global.style.scss */
.main-wrapper .main .page-title-wrapper a:hover .page-title, .main-wrapper .main .page-title-wrapper a:focus .page-title {
  background: url(../../img/stock1.jpg);
}
/* line 317, ../sass/global.style.scss */
.main-wrapper .main .page-title-wrapper .slogan {
  text-shadow: -1px 1px rgba(100, 100, 100, 0.3);
  position: absolute;
  top: 36%;
  left: 0;
  width: 100%;
  white-space: nowrap;
  padding: 0.5em 0;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
  margin-bottom: 30px;
}
/* line 327, ../sass/global.style.scss */
.main-wrapper .main .page-title-wrapper .slogan p {
  margin-bottom: 0;
}
/* line 330, ../sass/global.style.scss */
.main-wrapper .main .page-title-wrapper .slogan h2 {
  font-family: "QuicksandBoldRegular";
  color: white;
}
/* line 334, ../sass/global.style.scss */
.main-wrapper .main .page-title-wrapper .slogan h2 > p:nth-child(1) {
  text-align: right;
}
/* line 339, ../sass/global.style.scss */
.main-wrapper .main .page-title-wrapper .slogan h2 > p:nth-child(2) {
  text-align: left;
}
/* line 342, ../sass/global.style.scss */
.main-wrapper .main .page-title-wrapper .slogan h2 > p {
  float: left;
}

/* line 353, ../sass/global.style.scss */
.page-content {
  max-width: 960px;
  margin: 5em auto;
}

/* ==================================================================================
 *      Front Page recent Posts Styling
 * ==================================================================================*/
/* line 361, ../sass/global.style.scss */
.recent-posts {
  background: white;
  color: #443b35;
  padding: 2em 5%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: -3px 4px 10px rgba(77, 77, 77, 0.56);
  -moz-box-shadow: -3px 4px 10px rgba(77, 77, 77, 0.56);
  box-shadow: -3px 4px 10px rgba(77, 77, 77, 0.56);
}
/* line 367, ../sass/global.style.scss */
.recent-posts a {
  color: #443b35;
}
/* line 371, ../sass/global.style.scss */
.recent-posts a:hover h2, .recent-posts a:focus h2 {
  color: #665F5A;
}
/* line 374, ../sass/global.style.scss */
.recent-posts a:hover .content p, .recent-posts a:focus .content p {
  text-decoration: underline;
}
/* line 378, ../sass/global.style.scss */
.recent-posts h1 {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1em;
}
/* line 385, ../sass/global.style.scss */
.recent-posts h2 {
  font-size: 1.7em;
  font-weight: bold;
  margin-bottom: 0.5em;
}
/* line 390, ../sass/global.style.scss */
.recent-posts p {
  font-size: 1.2em;
}
/* line 393, ../sass/global.style.scss */
.recent-posts [class*='post-'] {
  width: 100%;
  overflow: hidden;
  float: left;
  border-top: 1px solid #F0F0E5;
  border-right: 1px solid #F0F0E5;
  position: relative;
}
/* line 400, ../sass/global.style.scss */
.recent-posts [class*='post-'] .content {
  padding: 6%;
}
/* line 403, ../sass/global.style.scss */
.recent-posts [class*='post-'] .date {
  position: absolute;
  top: 0;
  right: 0;
  width: 5em;
  height: 5em;
  background: beige;
  padding: 9%;
  font-size: .6em;
  padding: 1em;
  -webkit-border-radius: 0 0 0 0.5em;
  -moz-border-radius: 0 0 0 0.5em;
  -ms-border-radius: 0 0 0 0.5em;
  -o-border-radius: 0 0 0 0.5em;
  border-radius: 0 0 0 0.5em;
  -webkit-box-shadow: 2px -2px 2px #f0f0e5;
  -moz-box-shadow: 2px -2px 2px #f0f0e5;
  box-shadow: 2px -2px 2px #f0f0e5;
  color: #443b35;
  font-weight: bold;
}
/* line 417, ../sass/global.style.scss */
.recent-posts [class*='post-'] .date span {
  display: block;
  text-align: center;
}
/* line 421, ../sass/global.style.scss */
.recent-posts [class*='post-'] .date .M {
  font-size: 1.5em;
}
/* line 422, ../sass/global.style.scss */
.recent-posts [class*='post-'] .date .D {
  font-size: 2.5em;
  margin: 0.2em 0;
}
/* line 425, ../sass/global.style.scss */
.recent-posts [class*='post-'] .content img {
  max-height: 9em;
  margin: 0.4em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
}
/* line 432, ../sass/global.style.scss */
.recent-posts [class*='col-'] {
  width: 49.5%;
  float: left;
  min-height: 5em;
  border-bottom: 1px solid #F0F0E5;
}
/* line 438, ../sass/global.style.scss */
.recent-posts .col-1 {
  border-left: 1px solid #F0F0E5;
}
/* line 443, ../sass/global.style.scss */
.recent-posts .slide {
  margin: auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: solid white 5px;
  height: 200px;
  width: 200px;
  background: #DDEEEE;
  position: relative;
}
/* line 452, ../sass/global.style.scss */
.recent-posts .slide a h4 {
  font-size: 2em;
  margin: 20% 3%;
}
/* line 456, ../sass/global.style.scss */
.recent-posts .slide a .mask {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
}

/* line 468, ../sass/global.style.scss */
.content-wrapper {
  margin: 10px;
}
/* line 471, ../sass/global.style.scss */
.content-wrapper #content {
  height: 300px;
  background: white;
  width: 100%;
}

/* ==================================================================================
 *      Global Contact Lightbox Styling
 * ==================================================================================*/
/* line 482, ../sass/global.style.scss */
#contact {
  max-width: 900px;
  display: none;
}

/* ==================================================================================
 *      Filter Buttons
 * ==================================================================================*/
/* line 491, ../sass/global.style.scss */
.filters {
  text-shadow: -1px 1px rgba(100, 100, 100, 0.3);
  clear: both;
  color: white;
  font-size: 1.25em;
}
/* line 496, ../sass/global.style.scss */
.filters h3 {
  text-align: center;
}
/* line 499, ../sass/global.style.scss */
.filters a {
  color: white;
  margin: 0 1em;
  float: left;
  text-align: center;
}
/* line 505, ../sass/global.style.scss */
.filters a:hover, .filters a:focus {
  font-weight: bold;
}
/* line 510, ../sass/global.style.scss */
.filters a span {
  display: block;
  width: 3.5em;
  height: 3.5em;
  background: green;
  margin: .5em auto;
  border: 0.2em white solid;
  -webkit-transition: border 1s, width 1s, height 1s;
  -moz-transition: border 1s, width 1s, height 1s;
  -o-transition: border 1s, width 1s, height 1s;
  transition: border 1s, width 1s, height 1s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/* line 520, ../sass/global.style.scss */
.filters .categories {
  margin: 0 auto;
  clear: both;
}
