/* =========================================================================
 * Typography - Font Face
 * ==========================================================================*/
/* ==========================================================================
 * Global Styling Changes
 * ==========================================================================*/
/* line 30, ../sass/style.scss */
body {
  font-family: QuicksandBookRegular, Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: white;
  min-width: 330px;
  min-height: 330px;
}

/* line 37, ../sass/style.scss */
body.front {
  background: #94cdcb;
}

/* line 40, ../sass/style.scss */
body.blog {
  background: #669955;
}

/* line 44, ../sass/style.scss */
h1 {
  font-size: 2em;
}

/* line 47, ../sass/style.scss */
h2 {
  font-size: 1.5em;
}

/* line 50, ../sass/style.scss */
h3 {
  font-size: 1.2em;
  font-weight: bold;
}

/* line 55, ../sass/style.scss */
h4 {
  font-size: 1em;
  font-weight: bold;
}

/* line 60, ../sass/style.scss */
b {
  font-weight: bold;
}

/* line 63, ../sass/style.scss */
p {
  line-height: 1.5em;
}

/* line 66, ../sass/style.scss */
a {
  color: #1B9EE0;
  text-decoration: none;
}

/* ==========================================================================
 * Addtional Global Styling
 * ==========================================================================*/
/* line 76, ../sass/style.scss */
.clear {
  clear: both;
}

/* line 80, ../sass/style.scss */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 89, ../sass/style.scss */
.clearfix {
  display: inline-block;
}

/* line 94, ../sass/style.scss */
* html .clearfix {
  height: 1%;
}

/* line 99, ../sass/style.scss */
.noBorderL {
  border-left: none;
}

/* line 102, ../sass/style.scss */
.noBorderR {
  border-left: none;
}

/* ==========================================================================
 * General Layout Specific Styling
 * ==========================================================================*/
/* ==========================================================================
 * Menu -Styling - default
 * ==========================================================================*/
/* line 115, ../sass/style.scss */
.main-menu-wrapper {
  background: white;
  z-index: 3;
  min-width: 4em;
  min-height: 4em;
  -webkit-transition: height 0.7s, width 0.7s;
  -moz-transition: height 0.7s, width 0.7s;
  -o-transition: height 0.7s, width 0.7s;
  transition: height 0.7s, width 0.7s;
}
/* line 121, ../sass/style.scss */
.main-menu-wrapper .logo {
  float: left;
  width: 100%;
  height: auto;
  background: grey;
}
/* line 126, ../sass/style.scss */
.main-menu-wrapper .logo a {
  color: white;
}
/* line 129, ../sass/style.scss */
.main-menu-wrapper .logo h1 {
  font-size: 4em;
  text-align: center;
  -webkit-transition: font-size 0.7s;
  -moz-transition: font-size 0.7s;
  -o-transition: font-size 0.7s;
  transition: font-size 0.7s;
}
/* line 135, ../sass/style.scss */
.main-menu-wrapper .main-menu {
  height: 100%;
  width: 100%;
}
/* line 138, ../sass/style.scss */
.main-menu-wrapper .main-menu .nav ul {
  height: 100%;
  width: 100%;
  display: block;
  clear: both;
}

/* ==========================================================================
 * Menu -Styling - Menu Buttons
 * ==========================================================================*/
/* line 151, ../sass/style.scss */
.main-menu-wrapper .main-menu .nav ul {
  /* Active main-menu list styling */
}
/* line 152, ../sass/style.scss */
.main-menu-wrapper .main-menu .nav ul li {
  position: relative;
}
/* line 155, ../sass/style.scss */
.main-menu-wrapper .main-menu .nav ul li p {
  color: grey;
  position: absolute;
  background: transparent;
  height: 20px;
  -webkit-transition: top 1s, color 0.5s, background 0.5s;
  -webkit-transition-delay: 0s, 0s, 0.2s;
  -moz-transition: top 1s, color 0.5s, background 0.5s 0.2s;
  -o-transition: top 1s, color 0.5s, background 0.5s 0.2s;
  transition: top 1s, color 0.5s, background 0.5s 0.2s;
}
/* line 167, ../sass/style.scss */
.main-menu-wrapper .main-menu .nav ul li .button-outer {
  display: table;
  clear: both;
  position: relative;
}
/* line 171, ../sass/style.scss */
.main-menu-wrapper .main-menu .nav ul li .button-outer img.icon {
  z-index: 11;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 178, ../sass/style.scss */
.main-menu-wrapper .main-menu .nav ul li .button-inner {
  background: #00cccc;
  margin: 0 7px;
  border: 3px solid grey;
  position: absolute;
  z-index: 10;
  height: 35px;
  width: 35px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: height 0.6s, width 0.6s, left 0.6s, top 0.6s;
  -moz-transition: height 0.6s, width 0.6s, left 0.6s, top 0.6s;
  -o-transition: height 0.6s, width 0.6s, left 0.6s, top 0.6s;
  transition: height 0.6s, width 0.6s, left 0.6s, top 0.6s;
}
/* line 194, ../sass/style.scss */
.main-menu-wrapper .main-menu .nav ul li.active .button-inner {
  height: 45px;
  width: 45px;
  left: 0px;
  top: 2px;
}

/* line 204, ../sass/style.scss */
.social {
  position: absolute;
  right: 0;
  bottom: -20px;
}
/* line 209, ../sass/style.scss */
.social li {
  margin-left: 20px;
  float: right;
  font-family: "SSSocial";
  font-weight: bold;
  font-size: 400%;
  position: relative;
}
/* line 216, ../sass/style.scss */
.social li a {
  color: white;
  opacity: 0.7;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -webkit-transition: color 0.4s ease-out, opacity 0.6s;
  -moz-transition: color 0.4s ease-out, opacity 0.6s;
  -o-transition: color 0.4s ease-out, opacity 0.6s;
  transition: color 0.4s ease-out, opacity 0.6s;
}
/* line 223, ../sass/style.scss */
.social li a span {
  position: absolute;
  top: -12.2%;
  left: 0;
  z-index: -5;
  width: 99%;
  height: 99%;
  background: white;
  opacity: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
/* line 237, ../sass/style.scss */
.social li a:hover, .social li a:focus, .social li a:active {
  opacity: 1;
}
/* line 239, ../sass/style.scss */
.social li a:hover span, .social li a:focus span, .social li a:active span {
  opacity: 1;
}
/* line 243, ../sass/style.scss */
.social li a:hover.facebook, .social li a:focus.facebook, .social li a:active.facebook {
  color: #3B5998;
}
/* line 245, ../sass/style.scss */
.social li a:hover.twitter, .social li a:focus.twitter, .social li a:active.twitter {
  color: #2daae1;
}
/* line 247, ../sass/style.scss */
.social li a:hover.linkedin, .social li a:focus.linkedin, .social li a:active.linkedin {
  color: #0370a9;
}
/* line 249, ../sass/style.scss */
.social li a:hover.googleplus, .social li a:focus.googleplus, .social li a:active.googleplus {
  color: #CC0000;
}
/* line 252, ../sass/style.scss */
.social li img {
  width: 50px;
  height: 50px;
}

/* line 261, ../sass/style.scss */
.main-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
/* line 267, ../sass/style.scss */
.main-wrapper .main {
  margin: 1em;
  /* ==================================================================================
   *      Default Pages styling
   * ==================================================================================*/
  /* ==================================================================================
   *      Front Page styling
   * ==================================================================================*/
}
/* line 273, ../sass/style.scss */
.main-wrapper .main .header .title {
  font-size: 14em;
  float: left;
}
/* line 277, ../sass/style.scss */
.main-wrapper .main .header .sub-title {
  font-size: 5em;
}
/* line 286, ../sass/style.scss */
.main-wrapper .main .name-wrapper {
  width: 100%;
  margin: 15em auto 0 auto;
  position: relative;
  background: transparent;
  text-align: center;
}
/* line 292, ../sass/style.scss */
.main-wrapper .main .name-wrapper .name {
  margin-bottom: 30px;
  position: relative;
}
/* line 295, ../sass/style.scss */
.main-wrapper .main .name-wrapper .name h1 {
  white-space: nowrap;
  float: left;
  font-size: 2000%;
  font-family: WindsongRegular;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
/* line 308, ../sass/style.scss */
.main-wrapper .main .name-wrapper .name .alice {
  color: white;
  padding-right: 0.2em;
}
/* line 312, ../sass/style.scss */
.main-wrapper .main .name-wrapper .name .yuan {
  color: white;
}
/* line 318, ../sass/style.scss */
.main-wrapper .main .name-wrapper .slogan {
  position: absolute;
  bottom: 0;
  right: 0;
  white-space: nowrap;
  margin-bottom: 30px;
}
/* line 324, ../sass/style.scss */
.main-wrapper .main .name-wrapper .slogan h2 {
  font-family: "QuicksandBoldRegular";
  color: white;
}
/* line 336, ../sass/style.scss */
.main-wrapper .recent-posts h3 {
  text-align: center;
  margin: 1em 4em;
  padding: .25em .5em;
  background: grey;
}
/* line 342, ../sass/style.scss */
.main-wrapper .recent-posts div[class*='section-'] {
  float: left;
  width: 306.667px;
}
/* line 346, ../sass/style.scss */
.main-wrapper .recent-posts .slide {
  margin: auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: solid white 5px;
  height: 200px;
  width: 200px;
  background: #DDEEEE;
  position: relative;
}
/* line 355, ../sass/style.scss */
.main-wrapper .recent-posts .slide a h4 {
  font-size: 2em;
  margin: 20% 3%;
}
/* line 359, ../sass/style.scss */
.main-wrapper .recent-posts .slide a .mask {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
}

/* line 373, ../sass/style.scss */
.footer {
  margin-top: 20%;
  width: 100%;
  bottom: 0;
  text-align: center;
}

/* line 380, ../sass/style.scss */
.content-wrapper {
  margin: 10px;
}
/* line 383, ../sass/style.scss */
.content-wrapper #content {
  height: 300px;
  background: white;
  width: 100%;
}

/* line 390, ../sass/style.scss */
.main .title-wrapper {
  width: 100%;
  margin: 4em auto 0 auto;
  position: relative;
  background: transparent;
}
/* line 395, ../sass/style.scss */
.main .title-wrapper h1 {
  font-size: 10em;
}
