/* =========================================================================
 * Typography - Font Face
 * ==========================================================================*/
/* ==========================================================================
 * Global Styling Changes
 * ==========================================================================*/
/* line 33, ../sass/style.scss */
body {
  font-family: QuicksandBookRegular, Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: white;
  min-width: 300px;
  min-height: 300px;
  background: #94cdcb;
}

/* line 41, ../sass/style.scss */
body.front {
  background: #94cdcb;
}

/* line 45, ../sass/style.scss */
h1 {
  font-size: 2em;
}

/* line 48, ../sass/style.scss */
h2 {
  font-size: 1.5em;
}

/* line 51, ../sass/style.scss */
h3 {
  font-size: 1.2em;
  font-weight: bold;
}

/* line 56, ../sass/style.scss */
h4 {
  font-size: 1em;
  font-weight: bold;
}

/* line 61, ../sass/style.scss */
b {
  font-weight: bold;
}

/* line 64, ../sass/style.scss */
p {
  line-height: 1.5em;
  font-size: 1em;
  margin-bottom: 2em;
}

/* line 69, ../sass/style.scss */
a {
  color: #1B9EE0;
  text-decoration: none;
}

/* line 74, ../sass/style.scss */
a:hover, a:focus, a:active {
  color: #4AC1FD;
}

/* line 78, ../sass/style.scss */
a:visited {
  color: #5496B8;
}

/* ==========================================================================
 * Addtional Global Styling
 * ==========================================================================*/
/* line 87, ../sass/style.scss */
.clear {
  clear: both;
}

/* line 91, ../sass/style.scss */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 100, ../sass/style.scss */
.clearfix {
  display: inline-block;
}

/* line 105, ../sass/style.scss */
* html .clearfix {
  height: 1%;
}

/* line 110, ../sass/style.scss */
.noBorderL {
  border-left: none;
}

/* line 113, ../sass/style.scss */
.noBorderR {
  border-left: none;
}

/* ==========================================================================
 * General Layout Specific Styling
 * ==========================================================================*/
/* ==========================================================================
 * Menu -Styling - default
 * ==========================================================================*/
/* line 126, ../sass/style.scss */
.main-menu-wrapper {
  background: white;
  z-index: 3;
  min-width: 4em;
  min-height: 4em;
  -webkit-transition: height 0.7s, width 0.7s;
  -moz-transition: height 0.7s, width 0.7s;
  -o-transition: height 0.7s, width 0.7s;
  transition: height 0.7s, width 0.7s;
}
/* line 132, ../sass/style.scss */
.main-menu-wrapper .logo {
  float: left;
}
/* line 134, ../sass/style.scss */
.main-menu-wrapper .logo a {
  width: 100%;
  height: 100%;
  display: inline-block;
  color: white;
  background: #997e7e;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
}
/* line 141, ../sass/style.scss */
.main-menu-wrapper .logo a:hover, .main-menu-wrapper .logo a:focus {
  background: #645656;
}
/* line 145, ../sass/style.scss */
.main-menu-wrapper .logo h1 {
  text-align: center;
  -webkit-transition: font-size 0.7s;
  -moz-transition: font-size 0.7s;
  -o-transition: font-size 0.7s;
  transition: font-size 0.7s;
}
/* line 150, ../sass/style.scss */
.main-menu-wrapper .main-menu {
  height: 102%;
  width: 100%;
}
/* line 153, ../sass/style.scss */
.main-menu-wrapper .main-menu .nav ul {
  height: 100%;
  width: 100%;
  display: block;
  clear: both;
}

/* ==========================================================================
 * Menu -Styling - Menu Buttons
 * ==========================================================================*/
/* line 166, ../sass/style.scss */
.main-menu-wrapper .main-menu .nav ul {
  /* Active main-menu list styling */
}
/* line 167, ../sass/style.scss */
.main-menu-wrapper .main-menu .nav ul li {
  position: relative;
}
/* line 170, ../sass/style.scss */
.main-menu-wrapper .main-menu .nav ul li p {
  color: grey;
  position: absolute;
  background: transparent;
  height: 20px;
  -webkit-transition: top 1s, color 0.5s, background 0.5s;
  -webkit-transition-delay: 0s, 0s, 0.2s;
  -moz-transition: top 1s, color 0.5s, background 0.5s 0.2s;
  -o-transition: top 1s, color 0.5s, background 0.5s 0.2s;
  transition: top 1s, color 0.5s, background 0.5s 0.2s;
}
/* line 179, ../sass/style.scss */
.main-menu-wrapper .main-menu .nav ul li .button-outer {
  display: table;
  clear: both;
  position: relative;
}
/* line 184, ../sass/style.scss */
.main-menu-wrapper .main-menu .nav ul li .button-inner {
  background: #00cccc;
  margin: 0 7px;
  border: 3px solid grey;
  position: absolute;
  z-index: 10;
  height: 35px;
  width: 35px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: height 0.6s, width 0.6s, left 0.6s, top 0.6s;
  -moz-transition: height 0.6s, width 0.6s, left 0.6s, top 0.6s;
  -o-transition: height 0.6s, width 0.6s, left 0.6s, top 0.6s;
  transition: height 0.6s, width 0.6s, left 0.6s, top 0.6s;
}
/* line 200, ../sass/style.scss */
.main-menu-wrapper .main-menu .nav ul li.active .button-inner {
  height: 45px;
  width: 45px;
  left: 0px;
  top: 2px;
}

/* line 210, ../sass/style.scss */
.social {
  position: absolute;
  bottom: 0;
  z-index: 1;
}
/* line 215, ../sass/style.scss */
.social li {
  margin-left: 20px;
  float: right;
  font-family: "SSSocial";
  font-weight: bold;
  font-size: 400%;
  position: relative;
}
/* line 222, ../sass/style.scss */
.social li a {
  color: white;
  opacity: 0.7;
  border-radius: 50%;
  z-index: 5;
  -webkit-transition: color 0.4s ease-out, opacity 0.6s;
  -moz-transition: color 0.4s ease-out, opacity 0.6s;
  -o-transition: color 0.4s ease-out, opacity 0.6s;
  transition: color 0.4s ease-out, opacity 0.6s;
}
/* line 227, ../sass/style.scss */
.social li a span {
  position: absolute;
  top: -11.9%;
  left: 1.3%;
  z-index: -1;
  width: 99%;
  height: 99%;
  background: white;
  opacity: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
/* line 241, ../sass/style.scss */
.social li a:hover, .social li a:focus {
  opacity: 1;
}
/* line 243, ../sass/style.scss */
.social li a:hover span, .social li a:focus span {
  opacity: 1;
}
/* line 247, ../sass/style.scss */
.social li a:hover.facebook, .social li a:focus.facebook {
  color: #3B5998;
}
/* line 249, ../sass/style.scss */
.social li a:hover.twitter, .social li a:focus.twitter {
  color: #2daae1;
}
/* line 251, ../sass/style.scss */
.social li a:hover.linkedin, .social li a:focus.linkedin {
  color: #0370a9;
}
/* line 253, ../sass/style.scss */
.social li a:hover.googleplus, .social li a:focus.googleplus {
  color: #CC0000;
}

/* line 261, ../sass/style.scss */
.main-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}
/* line 268, ../sass/style.scss */
.main-wrapper .main {
  max-width: 1100px;
  margin: 1em auto;
  /* ==================================================================================
   *      Default Pages styling
   * ==================================================================================*/
  /* ==================================================================================
   *      Front Page styling
   * ==================================================================================*/
}
/* line 278, ../sass/style.scss */
.main-wrapper .main .page-title-wrapper {
  margin: 4em auto 0 auto;
  width: 95%;
  position: relative;
  text-align: center;
}
/* line 283, ../sass/style.scss */
.main-wrapper .main .page-title-wrapper a {
  display: inline-block;
}
/* line 288, ../sass/style.scss */
.main-wrapper .main .page-title-wrapper .page-title-wrapper.small .page-title h1 {
  font-size: 120%;
}
/* line 293, ../sass/style.scss */
.main-wrapper .main .page-title-wrapper .page-title {
  background: #997e7e;
  position: relative;
  border: white 0.1em solid;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  z-index: 2;
  -webkit-transition: background 1s;
  -moz-transition: background 1s;
  -o-transition: background 1s;
  transition: background 1s;
}
/* line 300, ../sass/style.scss */
.main-wrapper .main .page-title-wrapper .page-title h1 {
  font-size: 1em;
  float: left;
  font-family: WindsongRegular;
}
/* line 311, ../sass/style.scss */
.main-wrapper .main .page-title-wrapper .page-title h1 span {
  display: block;
  margin: 0;
  color: white;
}
/* line 318, ../sass/style.scss */
.main-wrapper .main .page-title-wrapper a:hover .page-title, .main-wrapper .main .page-title-wrapper a:focus .page-title {
  background: url(../../img/stock1.jpg);
}
/* line 321, ../sass/style.scss */
.main-wrapper .main .page-title-wrapper .slogan {
  position: absolute;
  top: 36%;
  left: 0;
  width: 100%;
  white-space: nowrap;
  padding: 0.5em 0;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
  margin-bottom: 30px;
}
/* line 330, ../sass/style.scss */
.main-wrapper .main .page-title-wrapper .slogan p {
  margin-bottom: 0;
}
/* line 335, ../sass/style.scss */
.main-wrapper .main .page-title-wrapper .slogan h2 {
  font-family: "QuicksandBoldRegular";
  color: white;
}
/* line 339, ../sass/style.scss */
.main-wrapper .main .page-title-wrapper .slogan h2 > p:nth-child(1) {
  text-align: right;
}
/* line 344, ../sass/style.scss */
.main-wrapper .main .page-title-wrapper .slogan h2 > p:nth-child(2) {
  text-align: left;
}
/* line 347, ../sass/style.scss */
.main-wrapper .main .page-title-wrapper .slogan h2 > p {
  float: left;
}

/* line 358, ../sass/style.scss */
.page-content {
  max-width: 960px;
  margin: 0 auto;
}

/* line 363, ../sass/style.scss */
.recent-posts {
  background: white;
  color: #443b35;
  margin: 1em 1em 10em 1em;
  padding: 1.5em;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  margin-top: 5em;
}
/* line 369, ../sass/style.scss */
.recent-posts h1 {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}
/* line 381, ../sass/style.scss */
.recent-posts div[class*='post-'] {
  float: left;
  width: 90%;
  height: 120px;
  max-height: 150px;
  margin: 1em 2em;
  overflow: hidden;
  border-bottom: 1px dashed grey;
}
/* line 390, ../sass/style.scss */
.recent-posts .col-1 {
  width: 30%;
  max-width: 260px;
  float: left;
  overflow: hidden;
}
/* line 398, ../sass/style.scss */
.recent-posts .col-2 {
  width: 100%;
}
/* line 400, ../sass/style.scss */
.recent-posts .col-2 .content {
  margin: 0 5% 0 33%;
}
/* line 401, ../sass/style.scss */
.recent-posts .col-2 .content h2 {
  font-size: 2.0em;
  font-weight: bold;
}
/* line 408, ../sass/style.scss */
.recent-posts .slide {
  margin: auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: solid white 5px;
  height: 200px;
  width: 200px;
  background: #DDEEEE;
  position: relative;
}
/* line 417, ../sass/style.scss */
.recent-posts .slide a h4 {
  font-size: 2em;
  margin: 20% 3%;
}
/* line 421, ../sass/style.scss */
.recent-posts .slide a .mask {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
}

/* line 433, ../sass/style.scss */
.footer {
  width: 100%;
  text-align: center;
  background: #368AA2;
  min-height: 4em;
  padding: 1em 0;
}
/* line 439, ../sass/style.scss */
.footer p {
  vertical-align: bottom;
}
/* line 442, ../sass/style.scss */
.footer ul {
  margin: 0 auto;
  clear: both;
}
/* line 446, ../sass/style.scss */
.footer li {
  float: left;
  padding: 0.2em 1em;
}
/* line 449, ../sass/style.scss */
.footer li a {
  color: white;
}
/* line 451, ../sass/style.scss */
.footer li a:hover, .footer li a:focus {
  text-decoration: underline;
}
/* line 454, ../sass/style.scss */
.footer li a:active, .footer li a:visited {
  color: white;
}

/* line 461, ../sass/style.scss */
.content-wrapper {
  margin: 10px;
}
/* line 464, ../sass/style.scss */
.content-wrapper #content {
  height: 300px;
  background: white;
  width: 100%;
}

/* line 474, ../sass/style.scss */
#contact {
  max-width: 960px;
  display: none;
}

/* line 479, ../sass/style.scss */
.nav img.icon {
  z-index: 11;
  position: absolute;
}
