/* ==========================================================================
 * Global Styling Changes
 * ==========================================================================*/
/* line 14, ../sass/style.scss */
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #ebedf0;
  font-size: 13px;
}

/* line 20, ../sass/style.scss */
h1 {
  font-size: 2em;
  font-weight: bold;
}

/* line 24, ../sass/style.scss */
h2 {
  font-size: 1.5em;
  font-weight: bold;
}

/* line 29, ../sass/style.scss */
h3 {
  font-size: 1.2em;
  font-weight: bold;
}

/* line 34, ../sass/style.scss */
h4 {
  font-size: 1em;
  font-weight: bold;
}

/* line 40, ../sass/style.scss */
b {
  font-weight: bold;
}

/* line 44, ../sass/style.scss */
p {
  line-height: 1.5em;
}

/* ==========================================================================
 * Addtional Global Styling
 * ==========================================================================*/
/* line 53, ../sass/style.scss */
.clear {
  clear: both;
}

/* line 57, ../sass/style.scss */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 66, ../sass/style.scss */
.clearfix {
  display: inline-block;
}

/* line 71, ../sass/style.scss */
* html .clearfix {
  height: 1%;
}

/* line 76, ../sass/style.scss */
noBorderL {
  border-left: none;
}

/* line 79, ../sass/style.scss */
noBorderR {
  border-left: none;
}

/* ==========================================================================
 * Header -General Styling
 * ==========================================================================*/
/* line 87, ../sass/style.scss */
.headerMenu {
  position: absolute;
}

/* line 91, ../sass/style.scss */
.headerMenu li {
  float: left;
  position: relative;
}

/* line 98, ../sass/style.scss */
.headerMenu li a {
  text-decoration: none;
  display: block;
}

/* ==========================================================================
 * Header -Top Header Styling
 * ==========================================================================*/
/* line 106, ../sass/style.scss */
.mainHeader {
  height: 50px;
  background-color: #22222b;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF22222B', endColorstr='#FF16161B');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIyMjIyYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzE2MTYxYiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #22222b), color-stop(100%, #16161b));
  background-image: -webkit-linear-gradient(top, #22222b 0%, #16161b 100%);
  background-image: -moz-linear-gradient(top, #22222b 0%, #16161b 100%);
  background-image: -o-linear-gradient(top, #22222b 0%, #16161b 100%);
  background-image: linear-gradient(top, #22222b 0%, #16161b 100%);
}

/* line 116, ../sass/style.scss */
.mainHeader .headerInner {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

/* line 124, ../sass/style.scss */
.mainHeader .headerMenu {
  float: right;
  border-left: solid black 1px;
  border-right: solid #292929 1px;
  top: 0;
  right: 0;
}
/* line 132, ../sass/style.scss */
.mainHeader .headerMenu li {
  border-right: solid black 1px;
  border-left: solid #292929 1px;
}

/* line 140, ../sass/style.scss */
.mainHeader .headerMenu li a:hover, .headerMenu li a:focus {
  background: #16161b;
}

/* line 144, ../sass/style.scss */
.mainHeader .headerMenu li a {
  padding: 17px 25px;
  color: #bbc3c6;
  text-decoration: none;
}

/* line 150, ../sass/style.scss */
.mainHeader .headerNotification {
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 6px;
  right: 15px;
  height: 15px;
  width: 15px;
  z-index: 1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: #e64a59;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFE64A59', endColorstr='#FFB6040A');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U2NGE1OSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2I2MDQwYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e64a59), color-stop(100%, #b6040a));
  background-image: -webkit-linear-gradient(top, #e64a59 0%, #b6040a 100%);
  background-image: -moz-linear-gradient(top, #e64a59 0%, #b6040a 100%);
  background-image: -o-linear-gradient(top, #e64a59 0%, #b6040a 100%);
  background-image: linear-gradient(top, #e64a59 0%, #b6040a 100%);
}
/* line 168, ../sass/style.scss */
.mainHeader .headerNotification p {
  font-size: 10px;
  margin: 0 0;
}

/* **************************************************************************
 * Main Content Starts here
 * **************************************************************************/
/* line 178, ../sass/style.scss */
.contentContainer {
  height: 100%;
  position: relative;
  width: 1000px;
  margin: 40px auto;
}

/* line 185, ../sass/style.scss */
.mainContent {
  width: 740px;
}

/* ============================================================================
 * Main Content - Overview styling
 * ==========================================================================*/
/* line 192, ../sass/style.scss */
.overviewContainer {
  height: 375px;
  background: #424451;
  overflow: hidden;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}

/* ============================================================================
 * Main Content - Overview - Header styling
 * ==========================================================================*/
/* line 203, ../sass/style.scss */
.overviewHeader {
  font-weight: bold;
  border-bottom: solid #505363 1px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background-color: #3f414e;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF3F414E', endColorstr='#FF373844');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNmNDE0ZSIvPjxzdG9wIG9mZnNldD0iMzElIiBzdG9wLWNvbG9yPSIjM2Y0MTRkIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMzczODQ0Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3f414e), color-stop(31%, #3f414d), color-stop(100%, #373844));
  background-image: -webkit-linear-gradient(top, #3f414e 0%, #3f414d 31%, #373844 100%);
  background-image: -moz-linear-gradient(top, #3f414e 0%, #3f414d 31%, #373844 100%);
  background-image: -o-linear-gradient(top, #3f414e 0%, #3f414d 31%, #373844 100%);
  background-image: linear-gradient(top, #3f414e 0%, #3f414d 31%, #373844 100%);
  height: 50px;
}

/* line 219, ../sass/style.scss */
.overviewHeader .headerMenu {
  border-right: solid #505363 1px;
  top: 0;
  left: 0;
  text-shadow: 1px 0 0 #1b1c22;
}

/* line 227, ../sass/style.scss */
.overviewHeader .headerMenu li {
  border-right: solid #2b2d36 1px;
  border-left: solid #505363 1px;
}
/* line 232, ../sass/style.scss */
.overviewHeader .headerMenu li .icon {
  position: absolute;
  left: 17px;
  width: 15px;
  height: 15px;
}
/* line 239, ../sass/style.scss */
.overviewHeader .headerMenu li .headerOverview .icon {
  background: url(../../img/glyphicons-halflings-white.png) no-repeat -265px -24px;
}
/* line 242, ../sass/style.scss */
.overviewHeader .headerMenu li .headerMilestones .icon {
  background: url(../../img/glyphicons-halflings-white.png) no-repeat -190px -120px;
}
/* line 246, ../sass/style.scss */
.overviewHeader .headerMenu li .headerTasks .icon {
  background: url(../../img/glyphicons-halflings-white.png) no-repeat -264px 0;
}
/* line 249, ../sass/style.scss */
.overviewHeader .headerMenu li .headerFiles .icon {
  background: url(../../img/glyphicons-halflings-white.png) no-repeat -26px -24px;
}
/* line 252, ../sass/style.scss */
.overviewHeader .headerMenu li .headerMessages .icon {
  background: url(../../img/glyphicons-halflings-white.png) no-repeat -72px 0;
}
/* line 255, ../sass/style.scss */
.overviewHeader .headerMenu li .headerCommunication .icon {
  background: url(../../img/glyphicons-halflings-white.png) no-repeat -168px 0;
}

/* line 262, ../sass/style.scss */
.overviewHeader .headerMenu li.first {
  border-left: none;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
}

/* line 266, ../sass/style.scss */
.overviewHeader .headerMenu li a:hover, .headerMenu li a:focus {
  background: #373844;
}

/* line 269, ../sass/style.scss */
.overviewHeader .headerMenu li.active a:hover, .headerMenu li.active a:focus {
  background: transparent;
  cursor: default;
}

/* line 273, ../sass/style.scss */
.overviewHeader .headerMenu li a.first {
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
}

/* line 277, ../sass/style.scss */
.overviewHeader .headerMenu li a {
  padding: 17px 20px 17px 35px;
  color: #ebedf1;
  text-decoration: none;
}

/* line 283, ../sass/style.scss */
.overviewHeaderBorder {
  width: 100%;
  height: 49px;
  border-bottom: solid #2b2d36 1px;
}

/* line 289, ../sass/style.scss */
.overviewHeader .headerMenu li.active {
  background: #424451;
  border-bottom: solid 4px #424451;
}

/* line 293, ../sass/style.scss */
.overviewHeader .headerMenu li a.active.first {
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
}

/* ============================================================================
 * Main Content - Overview - Content styling
 * ==========================================================================*/
/* line 301, ../sass/style.scss */
.overviewContentTop {
  color: white;
  padding: 28px 35px;
}
/* line 305, ../sass/style.scss */
.overviewContentTop .overviewBar1 div {
  float: left;
}
/* line 309, ../sass/style.scss */
.overviewContentTop .overviewBar1 {
  text-shadow: 1px 0 0 #1b1c22;
  padding: 0 0 30px 0;
  border-bottom: solid 1px #525461;
  width: 100%;
  position: relative;
}
/* line 316, ../sass/style.scss */
.overviewContentTop .overviewBar1 .userName {
  padding-right: 25px;
  border-right: solid 1px #525461;
}
/* line 320, ../sass/style.scss */
.overviewContentTop .overviewBar1 .userName h2 {
  font-weight: bold;
}
/* line 325, ../sass/style.scss */
.overviewContentTop .overviewBar1 .title {
  padding-left: 25px;
}
/* line 328, ../sass/style.scss */
.overviewContentTop .overviewBar1 .title h2 {
  font-weight: 200;
  color: #c5c7d2;
}
/* line 334, ../sass/style.scss */
.overviewContentTop .overviewBar1 .edit {
  background-color: #1faeee;
  color: white;
  font-weight: bold;
  height: 25px;
  position: absolute;
  top: 0px;
  right: 10px;
  text-shadow: 0 -1px 0 #0d74db;
  width: 73px;
  -webkit-box-shadow: 0px 0px 4px #2f3d46, inset 0 1px 1px #36ebfb;
  -moz-box-shadow: 0px 0px 4px #2f3d46, inset 0 1px 1px #36ebfb;
  box-shadow: 0px 0px 4px #2f3d46, inset 0 1px 1px #36ebfb;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF1FAEEE', endColorstr='#FF248FD3');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFmYWVlZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI0OGZkMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1faeee), color-stop(100%, #248fd3));
  background-image: -webkit-linear-gradient(top, #1faeee 0%, #248fd3 100%);
  background-image: -moz-linear-gradient(top, #1faeee 0%, #248fd3 100%);
  background-image: -o-linear-gradient(top, #1faeee 0%, #248fd3 100%);
  background-image: linear-gradient(top, #1faeee 0%, #248fd3 100%);
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
}
/* line 352, ../sass/style.scss */
.overviewContentTop .overviewBar1 .edit a {
  color: white;
  display: block;
  height: 100%;
  position: relative;
  text-decoration: none;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
}
/* line 360, ../sass/style.scss */
.overviewContentTop .overviewBar1 .edit a:hover, .overviewContentTop .overviewBar1 .edit a:focus {
  -webkit-box-shadow: inset 0 1px 4px #36ebfb;
  -moz-box-shadow: inset 0 1px 4px #36ebfb;
  box-shadow: inset 0 1px 4px #36ebfb;
}
/* line 364, ../sass/style.scss */
.overviewContentTop .overviewBar1 .edit a:active {
  -webkit-box-shadow: inset 0 1px 1px #36ebfb;
  -moz-box-shadow: inset 0 1px 1px #36ebfb;
  box-shadow: inset 0 1px 1px #36ebfb;
  background-color: #2395d8;
}
/* line 368, ../sass/style.scss */
.overviewContentTop .overviewBar1 .edit a div {
  position: absolute;
  top: 1px;
  left: 13px;
  height: 17px;
  width: 17px;
  background: url(../../img/glyphicons-halflings-white.png) no-repeat 0 -69px;
}
/* line 376, ../sass/style.scss */
.overviewContentTop .overviewBar1 .edit a p {
  position: absolute;
  top: 2px;
  right: 15px;
}
/* line 385, ../sass/style.scss */
.overviewContentTop .overviewBar2 div {
  float: left;
}
/* line 389, ../sass/style.scss */
.overviewContentTop .overviewBar2 {
  text-shadow: 1px 0 0 #1b1c22;
  padding: 30px 0 0 0;
}
/* line 392, ../sass/style.scss */
.overviewContentTop .overviewBar2 p {
  margin-bottom: 1.3em;
}
/* line 395, ../sass/style.scss */
.overviewContentTop .overviewBar2 .outerCol1 {
  width: 250px;
  border-right: solid 1px #525461;
}
/* line 399, ../sass/style.scss */
.overviewContentTop .overviewBar2 .outerCol1 .statusLabel.innerCol1 {
  color: #c3d1d4;
  text-shadow: 1px 1px 0 #1b1c22;
}
/* line 403, ../sass/style.scss */
.overviewContentTop .overviewBar2 .outerCol1 .statusField.innerCol2 {
  padding-left: 35px;
}
/* line 406, ../sass/style.scss */
.overviewContentTop .overviewBar2 .outerCol1 .statusField.innerCol2 .clientName {
  color: #b3def5;
}
/* line 412, ../sass/style.scss */
.overviewContentTop .overviewBar2 .outerCol2 {
  padding: 0 0 0 30px;
  width: 385px;
}
/* line 415, ../sass/style.scss */
.overviewContentTop .overviewBar2 .outerCol2 .descBody {
  color: #c3d1d4;
}

/* line 422, ../sass/style.scss */
.overviewContentBottom {
  height: 82px;
  color: white;
  border-top: solid 1px #525461;
  position: relative;
  background-color: #2a2c34;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF2A2C34', endColorstr='#FF2A2C34');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJhMmMzNCIvPjxzdG9wIG9mZnNldD0iNTIlIiBzdG9wLWNvbG9yPSIjMmMyZTM3Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMmEyYzM0Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2a2c34), color-stop(52%, #2c2e37), color-stop(100%, #2a2c34));
  background-image: -webkit-linear-gradient(top, #2a2c34 0%, #2c2e37 52%, #2a2c34 100%);
  background-image: -moz-linear-gradient(top, #2a2c34 0%, #2c2e37 52%, #2a2c34 100%);
  background-image: -o-linear-gradient(top, #2a2c34 0%, #2c2e37 52%, #2a2c34 100%);
  background-image: linear-gradient(top, #2a2c34 0%, #2c2e37 52%, #2a2c34 100%);
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  -ms-border-radius: 0 0 6px 6px;
  -o-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}
/* line 435, ../sass/style.scss */
.overviewContentBottom .overviewDateWrapper.outerCol1 {
  position: relative;
  width: 420px;
  border-right: solid 1px #1a1c21;
  height: 100%;
  float: left;
}
/* line 442, ../sass/style.scss */
.overviewContentBottom .overviewDateWrapper.outerCol1 .overviewDate {
  height: 100%;
  position: relative;
  margin: 28px 35px 0 35px;
}
/* line 446, ../sass/style.scss */
.overviewContentBottom .overviewDateWrapper.outerCol1 .overviewDate h1, .overviewContentBottom .overviewDateWrapper.outerCol1 .overviewDate p {
  float: left;
}
/* line 449, ../sass/style.scss */
.overviewContentBottom .overviewDateWrapper.outerCol1 .overviewDate h1.dayNumber {
  font-size: 2.2em;
  margin-top: -8px;
  margin-right: 10px;
}
/* line 454, ../sass/style.scss */
.overviewContentBottom .overviewDateWrapper.outerCol1 .overviewDate .daysLeft, .overviewContentBottom .overviewDateWrapper.outerCol1 .overviewDate .timeline {
  height: 20px;
}
/* line 456, ../sass/style.scss */
.overviewContentBottom .overviewDateWrapper.outerCol1 .overviewDate .daysLeft {
  padding-right: 15px;
  border-right: solid 1px #41424c;
  margin-top: 8px;
}
/* line 463, ../sass/style.scss */
.overviewContentBottom .overviewDateWrapper.outerCol1 .overviewDate .daysLeftLabel {
  color: #c5c7d2;
  margin-top: 3px;
}
/* line 468, ../sass/style.scss */
.overviewContentBottom .overviewDateWrapper.outerCol1 .overviewDate .timeline.innerCol2 {
  font-size: 0.9em;
  padding-left: 15px;
  margin-top: 11px;
}
/* line 472, ../sass/style.scss */
.overviewContentBottom .overviewDateWrapper.outerCol1 .overviewDate .timeline.innerCol2 .timelineLabel {
  color: #c3d1d4;
  margin-right: 6px;
}
/* line 476, ../sass/style.scss */
.overviewContentBottom .overviewDateWrapper.outerCol1 .overviewDate .timeline.innerCol2 .timelineDate {
  font-weight: bold;
}
/* line 479, ../sass/style.scss */
.overviewContentBottom .overviewDateWrapper.outerCol1 .overviewDate .timeline.innerCol2 .dash {
  margin: 0 4px;
}
/* line 486, ../sass/style.scss */
.overviewContentBottom .overviewDateWrapper.outerCol1 .overviewDate div {
  float: left;
}
/* line 490, ../sass/style.scss */
.overviewContentBottom .overviewTab.outerCol2 {
  width: 317px;
  height: 100%;
  border-left: solid 1px #30323b;
  float: left;
}

/* **************************************************************************
 * Sidebar Starts here
 * **************************************************************************/
/* line 503, ../sass/style.scss */
.sidebar {
  margin-left: 32px;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  height: 100%;
  width: 225px;
}

/* line 513, ../sass/style.scss */
.sidebar .userInfo {
  height: 100%;
  background: white;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
