//SASS Variables
$back_color: #ebedf0;//light blue background color
$overview_border_radius: 6px;
$default_border_radius: 6px;
//SASS Import
@import "compass";

//=========================================================================


/* ==========================================================================
 * Global Styling Changes
 * ==========================================================================*/
body {
  font-family:Arial, Helvetica, sans-serif;
  background: #ebedf0;//light blue
  font-size: 13px;
}

h1{
  font-size: 2em;
  font-weight:bold;
}
h2{
  font-size: 1.5em;
  font-weight:bold;
}

h3{
  font-size: 1.2em;
  font-weight:bold;
}

h4{
  font-size: 1em;
  font-weight: bold;

}

b{
  font-weight: bold;
}

p{
  line-height: 1.5em;
}

/* ==========================================================================
 * Addtional Global Styling
 * ==========================================================================*/

//clearfix
.clear{
  clear:both;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}


* html .clearfix {
	height: 1%;
}

//no border
noBorderL{
  border-left:none;
}
noBorderR{
  border-left:none;
}

/* ==========================================================================
 * Header -General Styling
 * ==========================================================================*/

.headerMenu{
  position: absolute;
}

.headerMenu li {
  float:left;
  position:relative;
  //display:inline-block;
}


.headerMenu li a{
  text-decoration:none;
  display:block;
}

/* ==========================================================================
 * Header -Top Header Styling
 * ==========================================================================*/
.mainHeader {
  height: 50px;
  // needs latest Compass, add '@import "compass"' to your scss
  background-color: #22222b; // Old browsers
  @include filter-gradient(#22222b, #16161b, vertical); // IE6-8
  // IE9 SVG, needs conditional override of 'filter' to 'none'
  $experimental-support-for-svg: true;
  @include background-image(linear-gradient(top,  #22222b 0%,#16161b 100%));
}

.mainHeader .headerInner{
  width: 1000px;
  margin: 0 auto;
  position: relative;
}



.mainHeader .headerMenu{
  float:right;
  border-left: solid black 1px;
  border-right: solid #292929 1px;
  top: 0;
  right: 0;


  li{
    border-right: solid black 1px;
    border-left: solid #292929 1px;
  }

}


.mainHeader .headerMenu li a:hover, .headerMenu li a:focus{
  background: #16161b;
}

.mainHeader .headerMenu li a{
  padding: 17px 25px;
  color: #bbc3c6;
  text-decoration:none;
}

.mainHeader .headerNotification{
  text-align:center;
  color:#ffffff;

  position: absolute;
  top: 6px;
  right: 15px;
  height:15px;
  width: 15px;
  z-index:1;
  @include border-radius(50%);
  // needs latest Compass, add '@import "compass"' to your scss
  background-color: #e64a59; // Old browsers
  @include filter-gradient(#e64a59, #b6040a, vertical); // IE6-8
  // IE9 SVG, needs conditional override of 'filter' to 'none'
  $experimental-support-for-svg: true;
  @include background-image(linear-gradient(top, #e64a59 0%,#b6040a 100%));

  p{
    font-size: 10px;
    margin: 0 0;
  }

}

/* **************************************************************************
 * Main Content Starts here
 * **************************************************************************/
.contentContainer{
  height: 100%;
  position: relative;
  width: 1000px;
  margin: 40px auto;
}

.mainContent{
  width:740px;
}

/* ============================================================================
 * Main Content - Overview styling
 * ==========================================================================*/
.overviewContainer{
  height: 375px;
  background: #424451;
  overflow:hidden;
  @include border-radius($overview_border_radius );
 }


/* ============================================================================
 * Main Content - Overview - Header styling
 * ==========================================================================*/
.overviewHeader{
  font-weight: bold;


  border-bottom: solid #505363 1px;//lighter border
  @include border-radius($overview_border_radius );
  // needs latest Compass, add '@import "compass"' to your scss
  background-color: #3f414e; // Old browsers
  @include filter-gradient(#3f414e, #373844, vertical); // IE6-8
  // IE9 SVG, needs conditional override of 'filter' to 'none'
  $experimental-support-for-svg: true;
  @include background-image(linear-gradient(top,  #3f414e 0%,#3f414d 31%,#373844 100%));
  height:50px;
}


.overviewHeader .headerMenu{
  border-right: solid #505363 1px;//lighter border
  top: 0;
  left: 0;
  text-shadow: 1px 0 0 #1b1c22;

}

.overviewHeader .headerMenu li {
  border-right: solid #2b2d36 1px;//darker border
  border-left: solid #505363 1px;//lighter border


  .icon{
    position: absolute;
    left:17px;
    width: 15px;
    height: 15px;
  }

  .headerOverview .icon{
    background: url(../../img/glyphicons-halflings-white.png) no-repeat -265px -24px;
  }
  .headerMilestones .icon{
    background: url(../../img/glyphicons-halflings-white.png) no-repeat -190px -120px;
  }

  .headerTasks .icon{
    background: url(../../img/glyphicons-halflings-white.png) no-repeat -264px 0 ;
  }
  .headerFiles .icon{
    background: url(../../img/glyphicons-halflings-white.png) no-repeat -26px -24px;
  }
  .headerMessages .icon{
    background: url(../../img/glyphicons-halflings-white.png) no-repeat -72px 0;
  }
  .headerCommunication .icon{
    background: url(../../img/glyphicons-halflings-white.png) no-repeat -168px 0;
  }

}


.overviewHeader .headerMenu li.first {
  border-left:none;
  @include border-top-left-radius($overview_border_radius);
}
.overviewHeader .headerMenu li a:hover, .headerMenu li a:focus{
  background: #373844;
}
.overviewHeader .headerMenu li.active a:hover, .headerMenu li.active a:focus{
  background:transparent;
  cursor:default;
}
.overviewHeader .headerMenu li a.first{
  @include border-top-left-radius($overview_border_radius);
}

.overviewHeader .headerMenu li a{
  padding: 17px 20px 17px 35px;
  color: #ebedf1;
  text-decoration:none;
}

.overviewHeaderBorder{//adds a dark border-bottom
  width:100%;
  height:49px;
  border-bottom: solid #2b2d36 1px;//darker border
}

.overviewHeader .headerMenu li.active{
  background: #424451;
  border-bottom: solid 4px #424451;
}
.overviewHeader .headerMenu li a.active.first{
  @include border-top-left-radius($overview_border_radius);
}

/* ============================================================================
 * Main Content - Overview - Content styling
 * ==========================================================================*/

.overviewContentTop{
  color: white;
  padding: 28px 35px;

  .overviewBar1 div{
    float:left;
  }

  .overviewBar1{
    text-shadow: 1px 0 0 #1b1c22;
    padding: 0 0 30px 0;
    border-bottom:  solid 1px #525461;
    width: 100%;

    .userName{
      padding-right: 25px;
      border-right: solid 1px #525461;

      h2{
        font-weight: bold;
      }
    }

    .title{
      padding-left: 25px;

      h2{
        font-weight: 200;
        color:#c5c7d2;
      }
    }
  }

  .overviewBar2 div{
    float:left;
  }

  .overviewBar2{
    text-shadow: 1px 0 0 #1b1c22;
    padding: 30px 0 0 0;

    p{
      margin-bottom: 1.3em;
    }
    .outer_col1{
      width:250px;
      border-right: solid 1px #525461;

      .statusLabel.inner_col1{
        color: #c3d1d4;
        text-shadow: 1px 1px 0 #1b1c22;
      }
      .statusField.inner_col2{
        padding-left: 35px;

        .clientName{
          color:#b3def5;
        }

      }
    }
    .outer_col2{
      padding: 0 0 0 30px ;
      width:385px;
      .descBody{
        color: #c3d1d4;
      }
    }
  }
}

.overviewContentBottom{
  height: 82px;
  color: white;
  border-top:  solid 1px #525461;

  background-color: #2a2c34; // Old browsers
  @include filter-gradient(#2a2c34, #2a2c34, vertical); // IE6-8
  // IE9 SVG, needs conditional override of 'filter' to 'none'
  $experimental-support-for-svg: true;
  @include background-image(linear-gradient(top,  #2a2c34 0%,#2c2e37 52%,#2a2c34 100%));

  @include border-radius(0 0 $overview_border_radius $overview_border_radius);

  .overviewDateWrapper.outer_col1{
    position:relative;
    padding: 28px 35px 0 35px;

    .overviewDate{
      h1, p{
        float:left;
      }
      h1.dayNumber{
        margin-right: 10px;
      }
      .daysLeftLabel{
        color:#c5c7d2;
      }

      .timeline.inner_col2{
        .timelineLabel{
          color: #c3d1d4;
        }
        .timelineDate{
          font-weight:bold;
        }
      }

    }

    .overviewDate div{
      float: left;
    }



  }

}


/* **************************************************************************
 * Sidebar Starts here
 * **************************************************************************/
.sidebar{
  margin-left: 32px;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  height: 100%;
  width: 225px;

}
.sidebar .userInfo{
  height: 100%;
  background: white;
  @include border-radius($default_border_radius);
}
