//SASS Variables
$back_color: transparent;
$overview_border_radius: 6px;
$back_pink: #EDBBCF; //EDBBBB
$back_color_front: #94CDCB; //light blue
$back_color_art: #BB99EE; //light purple
$back_color_projects: #EE8855;//orange
$back_color_blog: #669955; //light green
$dark_text: #443B35;
$color2: #997E7E;//#7C778F;//grey-purple //#9C6C6C; //dark pink
$color2-hover: #645656;


$hover-button-size-small: 31px;
$default-button-size-small: 25px;
$hover-button-size: 45px;
$default-button-size: 35px;
$default-button-color: #00CCCC;
//SASS Import
@import "compass";

//=========================================================================


/* =========================================================================
 * General Blog Template Styling
 * ==========================================================================*/
