//SASS Variables
$back_color: transparent;
$overview_border_radius: 6px;
$back_pink: #EDBBCF; //EDBBBB
$back_color_front: #94CDCB; //light blue
$back_color_art: #BB99EE; //light purple
$back_color_projects: #EE8855;//orange
$back_color_blog: #669955; //light green


// .program{ //   color: #ABCF00; // }
// .design{ //   color: #FF004D; // }
//.create{ //   color: #FF5900; // } //
//.innovate{ //   color: #6D00FF; // }
$hover-circle-size: 40px;
$default-circle-size: 30px;
$default-circle-color: #00CCCC;
//SASS Import
@import "compass";

//=========================================================================


/* =========================================================================
 * Typography - Font Face
 * ==========================================================================*/


/* ==========================================================================
 * Global Styling Changes
 * ==========================================================================*/
body {
  font-family: QuicksandBookRegular, Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: white;
  min-width: 320px;
  min-height: 320px;
}
body.front{
  background: $back_color_front;//light blue
}
body.blog{
  background: $back_color_blog;//light blue
}

h1{
  // font-size: 2em;
  font-family: WindsongRegular;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
h2{
  font-size: 1.5em;
}

h3{
  font-size: 1.2em;
  font-weight:bold;
}

h4{
  font-size: 1em;
  font-weight: bold;

}

b{
  font-weight: bold;
}

p{
  line-height: 1.5em;
}

a{
  color: #1B9EE0;
  text-decoration: none;
}

/* ==========================================================================
 * Addtional Global Styling
 * ==========================================================================*/

//clearfix
.clear{
  clear:both;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}


* html .clearfix {
	height: 1%;
}

//no border
.noBorderL{
  border-left:none;
}
.noBorderR{
  border-left:none;
}

/* ==========================================================================
 * Menu -Styling
 * ==========================================================================*/

.main-menu-wrapper.top{
  left:0;
  top:0;
  max-height: 6.92307692em;
  min-height: 4em;
  width: 100%;
  .main-menu{
    min-width: 320px;
  }
  li{
    float:left;
    width: 11%;
    max-width: 90px;
  }
  p{
    left: -20%;
    bottom: 0px;
    @include transition( bottom 1s, color 0.5s, background 0.5s 0.2s);
  }
  a:hover p, a:focus p, a:active p{
    bottom: -25px;
  }
}
.main-menu-wrapper.right{
  top:0;
  right: 0;
  max-width: 6.92307692em;
  min-width: 3em;
  height: 100%;
  .main-menu{
  }
  li{
    float:none;
    height: 8%;
  }
  p{
    right: 10px;
    top: 15px;
    @include transition( right 1s, color 0.5s, background 0.5s 0.2s);
  }
  a:hover p, a:focus p, a:active p{
    right: 60px;
  }
}
.main-menu-wrapper{
  background: white;
  // border-left: solid 3px #B8B8B8;
  position:fixed;
  font-size: 1.0em;
  .main-menu{
    height: 100%;
    width: 100%;
    .nav{
      height: 100%;
      width: 100%;
    }
    .nav ul {
      height: 100%;
      width: 100%;
      /*General main-menu list styling */
      li{
        position: relative;
        min-height: 50px;
        min-width: 55px;

        //pseudoclasses
        a:hover p, a:focus p, a:active p{
          color: white;
          background: grey;
        }
        a:hover .circle-inner, a:focus .circle-inner, a:active .circle-inner{
          height:   $hover-circle-size;
          width:    $hover-circle-size;
          top:      2px;
          left:    0px;
        }
        p{
          color: transparent;
          position: absolute;
          background: transparent;
          height: 20px;
          padding: 3px 10px;
          @include border-radius(10px);
        }
        .circle-outer{
          display:  table;
          height:   100%;
          width:    100%;
          position: relative;
          img.icon{
            z-index:  1;
            position: absolute;
            left:     0;
            top:      0;
          }
        }

        .circle-inner{
          background: $default-circle-color;
          margin:     0 7px;
          height:     $default-circle-size;
          width:      $default-circle-size;
          border:     3px solid grey;
          @include    border-radius( 50%);
          @include    transition( height 0.6s, width 0.6s, left 0.6s, top 0.6s );
          position:   absolute;
          top:        7px;
          left:       5px;
        }

      }

      /* Active main-menu list styling */

      li.active{
        .circle-inner{
          height:   $hover-circle-size;
          width:    $hover-circle-size;
          left:    0px;
          top:      2px;
        }
        img{
        }
      }
      li{
      }

      /* icons for menu */
    }

  }
}


.social {
  position: absolute;
  right: 0;
  bottom: 0;

  li{
    margin-left: 20px;
    float: right;
    font-family: "SSSocial";
    font-weight: bold;
    font-size: 3.5em;
    position: relative;
    a{
      color: white;
      opacity: 0.7;
      border-radius: 50%;
      // background: white;
      width: 50px;
      height: 50px;
      span{
        position:absolute;
        top: -6px;
        left: 0;
        z-index: -5;
        width: 100%;
        height: 100%;
        background: white;
        opacity: 0;
        @include border-radius(50%);
        @include transition(opacity 0.4s);
      }

      @include transition(color 0.4s ease-out, opacity 0.6s);
      &:hover, &:focus, &:active{
        opacity: 1;
        span{
          opacity: 1;
        }
      }
      &:hover.facebook, &:focus.facebook, &:active.facebook{
        color: #3B5998; }
      &:hover.twitter, &:focus.twitter,&:active.twitter{
        color: #2daae1; }
      &:hover.linkedin, &:focus.linkedin, &:active.linkedin{
        color: #0370a9; }
      &:hover.googleplus, &:focus.googleplus, &:active.googleplus{
        color: #CC0000; }
    }
    img{
      width: 50px;
      height: 50px;
    }
  }
}



.main-wrapper{
  width: 100%;
  max-width: 960px;
  height: 100%;
  margin: auto;
  .main{


    /* ==================================================================================
     *      Non Index Pages styling
     * ==================================================================================*/
    .header{
      .title{
        font-size: 14em;
        float: left;
      }
      .sub-title{
        font-size: 5em;

      }
    }




    /* ==================================================================================
     *      Index Page styling
     * ==================================================================================*/
    .name-wrapper{
      width: 100%;
      margin: 15em auto 0 auto;
      position: relative;
      background: transparent;
      text-align: center;
      .name{
        margin-bottom: 30px;
        position: relative;
        h1{
          float:left;
          font-size: 100%*20;
        }
        .alice{
          color:white;//#00CCCC;
          padding-right: 0.2em;
        }
        .yuan{
          color:white;//#0099CC;
        }
      }
      .i{
      }
      .slogan{
        position: absolute;
        bottom:   50px;
        right:    0;
        h2{
          font-family: "QuicksandBoldRegular";
          padding-left: 10px;
          color: white;
        }
        margin-bottom: 30px;
      }
    }
  }
  .recent-posts{
    h3{
      text-align: center;
      margin: 1em 4em;
      padding: .25em .5em;
      background: grey;
    }
    div[class*='section-']{
      float: left;
      width: (960px/3);//960/3
    }
    .slide{
      margin: auto;
      @include border-radius(50%);
      border: solid white 5px;
      height: 200px;
      width: 200px;
      background: #DDEEEE;
      position: relative;
      a {
        h4{
          font-size: 2em;
          margin: 20% 3%;
        }
        .mask{
          @include border-radius(50%);
          overflow: hidden;
          position: absolute;
          height: 100%;
          width: 100%;
        }

      }
    }
  }
}
.footer{
  margin-top: 20%;
  width: 100%;
  bottom: 0;
  text-align: center;
}

.content-wrapper{
  margin: 10px;

  #content{
    height: 300px;
    background: white;
    width: 100%;
  }
}

.main .title-wrapper{
  width: 100%;
  margin: 4em auto 0 auto;
  position: relative;
  background: transparent;
  h1{
  font-size: 10em;
}
}
