//SASS Variables
$back_color: transparent;//light blue background color
$overview_border_radius: 6px;
$back_pink: #EDBBCF; //EDBBBB

$hover-circle-size: 40px;
$default-circle-size: 30px;
$default-circle-color: #00CCCC;
//SASS Import
@import "compass";

//=========================================================================


/* =========================================================================
 * Typography - Font Face
 * ==========================================================================*/


/* ==========================================================================
 * Global Styling Changes
 * ==========================================================================*/
body {
  font-family: QuicksandBookRegular, Arial, Helvetica, sans-serif;
  background: $back_color;//light blue
  font-size: 13px;
}

h1{
  font-size: 2em;
  font-family: WindsongRegular;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
h2{
  font-size: 1.5em;
}

h3{
  font-size: 1.2em;
  font-weight:bold;
}

h4{
  font-size: 1em;
  font-weight: bold;

}

b{
  font-weight: bold;
}

p{
  line-height: 1.5em;
}

a{
  color: #1B9EE0;

}

/* ==========================================================================
 * Addtional Global Styling
 * ==========================================================================*/

//clearfix
.clear{
  clear:both;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}


* html .clearfix {
	height: 1%;
}

//no border
.noBorderL{
  border-left:none;
}
.noBorderR{
  border-left:none;
}

/* ==========================================================================
 * Menu -Styling
 * ==========================================================================*/

.main-menu-wrapper{
  background: white;
  // border-left: solid 3px #B8B8B8;
  height: 100%;
  right:0;
  position:fixed;
  top:0;
  width: 90px;
  font-size: 1.0em;

  @include box-shadow(-5px 0 5px #B8B8B8);

  .main-menu{
    padding: 150px 0 0 0;
    .nav ul {
      /*General main-menu list styling */
      li{
        position: relative;
        min-height: 70px;
        //pseudoclasses
        &:hover p{
          right: 75px;
          color: white;
          background: grey;
        }
        &:hover .circle-inner{
          height:   $hover-circle-size;
          width:    $hover-circle-size;
          margin-top:-5px;

        }



        p{
          color: transparent;
          position: absolute;
          right: 10px;
          top: 15px;
          background: transparent;
          height: 20px;
          padding: 3px 10px;
          @include border-radius(10px);
          @include transition( right 1s, color 0.5s, background 0.5s 0.2s);
        }


        .circle-outer{
          height:   $default-circle-size + 10px;
          width:    $default-circle-size + 30px;
          position: absolute;
          right: 10px;
          top: 10px;

        }

        .circle-inner{
          background: $default-circle-color;
          margin:   auto;
          height:   $default-circle-size;
          width:    $default-circle-size;
          border:   3px solid grey;
          @include border-radius( 50%);
          @include transition( height 0.6s, width 0.6s, margin-top 0.6s );
        }

      }

      /* Active main-menu list styling */

      li.active{
        .circle-inner{
          height:   $hover-circle-size;
          width:    $hover-circle-size;
          margin-top:-5px;
        }
      }

      /* icons for menu */
      li.home{
        .circle-inner{
        }
      }
      li.about{
        img{
          width: 18px;
          height: 16px;
          padding-top: 2px;
        }
        .circle-inner{
        }
      }
      li.blog{
        img{
          width: 18px;
          height: 18px;
          margin: -2px;
        }
        .circle-inner{
        }
      }
      li.artworks{
        .circle-inner{
        }
      }
      li.projects{
        .circle-inner{
        }
        img{
          width: 20px;
          height: 20px;
          margin: -2px;
        }
      }
      li.resume{
        .circle-inner{
        }
        img{
          padding: 1px 1px;
        }
      }
      li.contact{
        .circle-inner{
        }
      }

      li .icon-big{
        position: absolute;
        right: 18px;
        top: 6px;
      }
      li .icon-small{
        position: absolute;
        right: 21px;
        top: 9px;
      }


    }

  }
}


.social li{
  margin: 10px 20px;
  float:left;
  img{
    width: 50px;
    height: 50px;
  }
}



.main-wrapper{
  width: 960px;
  height: 100%;
  margin: auto;
  .main{


    /* ==================================================================================
     *      Non Index Pages styling
     * ==================================================================================*/
    .header{
      .title{
        font-size: 14em;
        float: left;
      }
      .sub-title{
        font-size: 5em;

      }
    }




    /* ==================================================================================
     *      Index Page styling
     * ==================================================================================*/
    .name-wrapper{
      margin: 30% auto 0 auto;
      //width: 300px;
      //height: 300px;
      //border-radius: 50%;
      background: transparent;
      text-align: center;
      .name{
        margin-bottom: 30px;
        h1{
          float:left;
          font-size: 20em;
        }
        .alice{
          color:black;//#00CCCC;
          padding-right: 0.2em;
        }
        .yuan{
          color:black;//#0099CC;
        }
      }
      .i{
      }
      .slogan{
        float: right;
        h2{
          float:left;
          padding-left: 10px;
        }
        .program{
          color: #ABCF00;
        }
        .design{
          color: #FF004D;
        }
        .create{
          color: #FF5900;
        }
        .innovate{
          color: #6D00FF;
        }
        margin-bottom: 30px;
      }
    }
    .promotion{
      margin: 200% 0 0 0;
      text-align: center;
    }
  }


}
.footer{
  text-align: center;
}
